/* =========== GOOGLE FONTS ========= */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;1,400&display=swap");

/* :root {
  --hue: 0;
  --sat: 0%;
 
  --titleColor: hsl(var(--hue), var(--sat), 20%);
  --titleColorDark: hsl(var(--hue), var(--sat), 0%);
 
  --textColor: hsl(var(--hue), var(--sat), 46%);

  --bodyColor: hsl(var(--hue), var(--sat), 98%);
 
  --containerColor: hsl(var(--hue), var(--sat), 98%);
 

 
  --bodyFont: "Poppins", sans-serif;

  --bigFondSize: 2.5rem;
  --h1FondSize: 2.25rem;
  --h2FondSize: 1.5rem;
  --h3FondSize: 1.25rem;
  --normalFontSize: 1rem;

  --smallFondSize: 0.875rem;
  --smallerFondSize: 0.813rem;
  --tinyFondSize: 0.625rem;

  
  --fontNormal: 400;
  --fontmedium: 500;
  --fontSemiBold: 600;
  
  --mb025: 0.25rem;
  --mb05: 0.5rem;
  --mb075: 0.75rem;
  --mb1: 1rem;
  --mb15: 1.5rem;
  --mb2: 2rem;
  --mb25: 2.5rem;
  --mb3: 3rem;

  --zTooltip: 10;
  --zFixed: 100;
  --zModla: 1000;
} */

/* @media screen and (max-width: 992px) {
  :root {
    --bigFondSize: 2.75rem;
    --h1FondSize: 1.5rem;
    --h2FondSize: 1.25rem;
    --h3FondSize: 1rem;
    --normalFontSize: 0.938rem;

    --smallFondSize: 0, 813rem;
    --smallerFondSize: 0, 875rem;
  }
} */

/* =========== Base ========= */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
} */
/* body,
button,
input,
textarea {
  font-family: var(--bodyFont);
  font-size: var(--normalFontSize);
} */
/* body {
  background-color: var(--bodyColor);
  color: var(--textColor);
} */

/* h1,
h2,
h3 {
  color: var(--titleColor);
  font-weight: var(--fontSemiBold);
} */
/* ul {
  list-style: none;
} */
/* a {
  text-decoration: none;
} */

/* button {
  cursor: pointer;
  border: none;
  outline: none;
} */
/* img {
  max-width: 100%;
  height: auto;
} */
/* body {
  height: 100%;
  width: 100%;
  overflow: auto;
} */

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* =========== REUSABLES ========= */
.section {
  padding: 6rem 0 2rem;
}

.sectionTitle {
  font-size: var(--h1FondSize);
  color: var(--titleColor);
}

.sectionSubTitle {
  display: block;
  font-size: var(--smallerFondSize);
  margin-bottom: 4rem;
}
.sectionTitle,
.sectionSubTitle {
  text-align: center;
}
/* =========== LAYOUT ========= */
.container {
  max-width: 969px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* =========== BUTTONS ========= */
/* .button {
  display: inline-block;
  background-color: var(--titleColor);
  color: var(--containerColor);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--fontmedium);
}

.button:hover {
  background-color: var(--titleColorDark);
}

.buttonIcon {
  margin-left: var(--mb05);
}

.buttonFlex {
  display: inline-flex;
  align-items: center;
} */

/* ============= BREAKPOINT =============== */
/* 
@media screen and (max-width: 992px) {
  .container {
    margin-left: var(--mb15);
    margin-right: var(--mb15);
  }
  .button {
    padding: 1rem 1.75reb;
  }
  .buttonIcon {
    width: 22px;
    height: 22px;
  }
}

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 350px) {
  .container {
    margin-left: var(--mb1);
    margin-right: var(--mb1);
  }
} */

/* =========== FINAL ========= */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
